body {
    background-color: rgba(240, 230, 140, 0.7);
}
/*input[type='radio']{*/
/*    display: none;*/
/*}*/
.input_rating_device{
    display: none;
}
.brandBar_div{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.brandBar_card{
    cursor: pointer;
    margin: 5px;
    width: auto;
    font-size: 16px;
    padding: 5px;
    background-color: #cfe2ff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 0.25rem;
}
.brandBar_card_select{
    cursor: pointer;
    margin: 5px;
    width: auto;
    font-size: 16px;
    padding: 5px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background: #0d6efd;
    color: white;
}
.brandBar_card:hover {
    background: gold;
    color: white;
}
.brandBar_div_item{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.typeBar_listGroup_div{
    display: flex;
}
.typeBar_button_top{
    margin-bottom: 2px;
}
.typeBar_button_top:hover{
    background: gold;
}
.typeBar_card{
    font-size: 16px;
    color: black;
    border: black 1px solid;
}
.navbar_main_div{
    border: black solid 1px;
    text-shadow: 2px 0 2px #fff,
    0 2px 2px #F0E68C,
    -2px 0 2px #F0E68C,
    0 -2px 2px #F0E68C;
}
.navBar_navLink{
    display: flex;
    font-size: 20px;
    color: gold;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    text-decoration-line: none;
}
.navBar_navLink:hover{
    color: white;
}
.navBar_navLink_div_basket_button{
    display: flex;
    position: relative;
}
.navBar_navLink_div_basket_button_count{
    position: absolute;
    top: -7px;
    right: -13px;
    height: 20px;
    width: 20px;
    background-color: gold;
    border: white solid 1px;
    border-radius: 50%;
}
.navBar_navLink_div_basket_button_count_p{
    text-align: center;
    color: black;
    font-size: 12px;
}
.createDevice_button_addImage{
    margin: 5px;
}
.createDevice_div_successfully{
    position: absolute;
    top: 70px;
    right: 70px;
    border: solid 1px #badbcc;
    border-radius: 2px;
    padding: 2px 4px;
    background-color: #d1e7dd;
    color: #0f5132;
}
.shop_div_paginationDevice{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.basket_div_noContent{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 25px;
    color: gold;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}
.basket_div_total_amount{
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 2px #dee2e6;
}
.basket_div_div_total_amount{
    /*border: solid 2px #dee2e6;*/
    /*border-top: none;*/
    margin: 0 150px 10px 0;
    padding: 0 10px;
}
.basket_div_button_order{
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}
.basket_div_delivery_payDevice{
    border-bottom: solid 2px #dee2e6;
    margin: 10px;
}
.basket_button_order{

}
.confirmDelete_modal{
    background: rgba(241, 125, 148, 0.63);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.deviceItem_div{
    margin-left: 5px;
}
.devicePageAdmin_row_2{
    display: flex;
    justify-content: center;
    font-size: 16px;
    background: white;
    padding: 10px;
    width: 500px;
    margin-left: 10px;
}
.devicePageAdmin_row_1{
    display: flex;
    justify-content: center;
    font-size: 16px;
    background: transparent;
    padding: 10px;
    width: 500px;
    margin-left: 10px;
}
.devicePageAdmin_row_3{
    margin: 10px 20px;
}
.changeInfoDevice_div{
    background: aliceblue;
    padding: 5px;
    border-radius: 5px;
}
.devicePage_main_div_comments{
    margin: 10px;
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}
.commentDevice_div_main{
    border: solid 1px blue;
    padding: 5px;
    margin: 5px;
    background: white;
    border-radius: 10px;
}
.commentDevice_dive_rate{
    display: flex;
    justify-content: flex-end;
}
.devicePage_div_sendComment{
    margin: 30px 10px 10px 10px;
}
.devicePage_div_text_noComment{
    color: cornflowerblue;
    font-size: 20px;
    /*text-transform: uppercase;*/
    margin-top: 20px;
}
.blockedAndUnlockedUser_main_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*width: 90%;*/
    padding: 10px;
}
.blockedAndUnlockedUser_div_map{
    /*border: solid 2px cornflowerblue;*/
    background: cornflowerblue;
    color: white;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}