body {
    background-color: #F0E68C;
}
.brandBar_div{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.brandBar_card{
    cursor: pointer;
    margin: 5px;
    width: auto;
    font-size: 16px;
    padding: 5px;
    background-color: #cfe2ff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 0.25rem;
}
.brandBar_card_select{
    cursor: pointer;
    margin: 5px;
    width: auto;
    font-size: 16px;
    padding: 5px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    background: #0d6efd;
    color: white;
}
.brandBar_card:hover {
    background: gold;
    color: white;
}
.brandBar_div_item{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.typeBar_listGroup_div{
    display: flex;
}
/*.typeBar_div{*/
/*    margin: 5px;*/
/*}*/
.typeBar_button_top{
    margin-bottom: 2px;
}
.typeBar_button_top:hover{
    background: gold;
}
.typeBar_card{
    font-size: 16px;
    color: black;
    border: black 1px solid;
    /*text-shadow: 1px 0 1px #fff,*/
    /*0 1px 1px #fff,*/
    /*-1px 0 1px #fff,*/
    /*0 -1px 1px #fff;*/
    /*cursor: pointer;*/
    /*width: auto;*/
    /*font-size: 16px;*/
    /*padding: 5px;*/
    /*background-color: #fff;*/
    /*background-clip: border-box;*/
    /*border: 1px solid rgba(0,0,0,.125);*/
    /*border-radius: 0.25rem;*/
}
/*.typeBar_card_select{*/
/*    cursor: pointer;*/
/*    margin: 5px;*/
/*    width: auto;*/
/*    font-size: 18px;*/
/*    padding: 5px;*/
/*    background-clip: border-box;*/
/*    border: 1px solid rgba(0,0,0,.125);*/
/*    border-radius: 0.25rem;*/
/*    background: grey;*/
/*    color: white;*/
/*}*/
/*.typeBar_card:hover {*/
/*    background: #ededed;*/
/*}*/
.navbar_main_div{
    border: black solid 1px;
    text-shadow: 2px 0 2px #fff,
    0 2px 2px #F0E68C,
    -2px 0 2px #F0E68C,
    0 -2px 2px #F0E68C;
}
.navBar_navLink{
    /*color: white;*/
    display: flex;
    font-size: 20px;
    color: gold;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    text-decoration-line: none;
}
.navBar_navLink:hover{
    color: white;
}
.navBar_navLink_div_basket_button{
    display: flex;
    position: relative;
}
.navBar_navLink_div_basket_button_count{
    position: absolute;
    top: -7px;
    right: -13px;
    height: 25px;
    width: 25px;
    background-color: white;
    color: black;
    border: white solid 1px;
    border-radius: 50%;
    text-align: center;
    padding: 1px;
    /*display: inline-block;*/
    /*margin: auto;*/
}
/*.navBar_navLink_text{*/
/*    font-size: 16px;*/
/*    color: gold;*/
/*    text-shadow: 1px 0 1px #000,*/
/*    0 1px 1px #000,*/
/*    -1px 0 1px #000,*/
/*    0 -1px 1px #000;*/
/*}*/
.createDevice_button_addImage{
    margin: 5px;
}
.createDevice_div_successfully{
    position: absolute;
    top: 70px;
    right: 70px;
    border: solid 1px #badbcc;
    border-radius: 2px;
    padding: 2px 4px;
    background-color: #d1e7dd;
    color: #0f5132;
}
.shop_div_paginationDevice{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.shop_container{
    /*background: gold;*/
}